<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="text-center center-div" id="login">
            <div class="container w-25 border py-5">
                <div class="title pb-5">
                    <h2 class="font-weight-bold">REGISTER </h2>
                </div>
                <form action="/signupsubmit" method="GET">

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="enter your first name" name="first_name">
            
                    </div>
                    <br><br>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="enter your last name" name="last_name">
            
                    </div>
                    <br><br>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="enter your email" name="email">
            
                    </div>
                    <br><br>

                    <div class="form-group">
                        <input type="text" class="form-control"  placeholder="enter your phone number" name="phn">
                    </div>
                    <br><br>
                
                    <button type="submit" class="btn btn-success btn-rounded">register</button>
    
                </form>

            </div>
        </div>
    </body>
</html>