
body{
    background-image: url("https://www.vippng.com/png/detail/131-1315066_transparent-background-images-for-login-page.png");
    background-repeat: no-repeat;
    background-size:cover;
}



.center-div{
    padding-top: 10%;
}
.btn btn-sucess{
    padding: 4em 2em;
}
form{
    padding: 0.3 em;
}